<% include ./partials/headerIntro %>
	<section id="indexSection">
		<div id="indexHeader">
			<h1>Welcome to <b>uBlog!</b></h1>
			<h2>It all starts with a story...</h2>
		</div>
		<button class="myButton" onclick="document.getElementById('indexLoginSection').scrollIntoView({behavior:'smooth'});">ENTER</button>
	</section>
	<section id="indexLoginSection">
		<h1>Sign in</h1>
		<form action="/" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="username" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password" required>
			</div>
			<div class="form-group">
				<input class="btn btn-md btn-dark" type="Submit" name="Submit">
			</div>
			<p>No account? Click <a href="/register">here to register.</a></p>
		</form>
	</section>
<% include ./partials/footerIntro %>