<% include ./partials/headerIntro %>
	<section id="indexSection">
		<button id="scrollArrow" onclick="document.getElementById('indexLoginSection').scrollIntoView({behavior:'smooth'});"><i class="fas fa-angle-down"></i></button>
	</section>
	<section id="indexLoginSection"></section>
<% include ./partials/footerIntro %>