<% include ./partials/header %>

<form action="/blogs" method="POST">
	<input type="text" name="blog[title]" placeholder="title">
	<input type="url" name="blog[image]" placeholder="image url">
	<input type="text" name="blog[body]" placeholder="body">
	<input type="Submit" name="Submit">
</form>

<% include ./partials/footer %>