/*COMMON*/
* {
	font-family: 'Open Sans', sans-serif;
}

.createEditSection {
	width:65%;
	height:100vh;
	margin:100px auto;
	display:flex;
	justify-content: center;
	align-items: flex-start;
	animation: 0.4s fadeinUp 0.2s forwards;
	opacity:0;
}

.form {
	width:700px;
}

#textArea {
	height:400px;
	overflow:hidden;
	max-height:400px;
}

#navCurrentUser {
	color:black;
	padding-right:20px;
}

#footer {
	height:80px;
	width:100%;
	background:blue;
	position:fixed;
}

/*INDEX PAGE*/
#indexSection {
	width:100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items: center;
	flex-wrap:wrap;
	justify-content:space-around;
	background: url(https://images.unsplash.com/photo-1497541271502-639c540968b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44c1b79e631f83187b54e87226eb1cc7&auto=format&fit=crop&w=1350&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	filter:grayscale(50%);
}

#indexHeader {
	opacity:0;
	animation: 0.6s fadeinUp 0.2s forwards;
	text-align: center;
	margin-top:85px;
}

#indexHeader h2 {
	letter-spacing: 2px;
}

#indexSection button {
	opacity:0;
	animation: 0.9s fadeinUp 0.4s forwards;
}

@keyframes fadeinUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100%{
		opacity:1;
		transform: translateY(0px);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100%{
		opacity:1;
	}
}

#indexLoginSection {
	width:260px;
	height:100vh;
	margin:0 auto;
	padding-top: 160px;
	text-align:center;
}

#indexLoginSection h1 {
	margin-bottom:20px;
	letter-spacing: -1px;
}

.myButton {
	border:1px solid #D6B8B8;
	background-color:transparent;
	outline:none;
	font-size:30px;
	cursor:pointer;
	border-top-left-radius: 10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius: 3px;
	border-top-right-radius:3px; 
	transition-duration: 0.4s;
	line-height: 33px;
	color:#D6B8B8;
} 

.myButton:hover {
	border-top-left-radius: 3px;
	border-bottom-right-radius:3px; 
	border-bottom-left-radius: 10px;
	border-top-right-radius:10px;
	border:1px solid #B5104B;
	color:#B5104B;
}

.myButton:focus {
	outline:none;
}

/*MAIN PAGE/GRID OF BLOGS*/
#blogsSection {
	width:65%;
	height:80vh;
	margin:60px auto;
}

#blogCard {
	opacity:0;
	margin:20px 10px;
	cursor:pointer;
	width: 18rem;
	float:left;
	animation: 0.7s fadein 0.2s forwards;
	text-align: justify;
}

#blogCard a {
	text-decoration:none;
}

#blogCard:hover {
	position:relative;
	transform: translateY(-3px);
	transition:0.3s;
}


/*SHOW PAGE*/
#showSection {
	width:65%;
	height:80vh;
	margin:120px auto;
	animation: 0.7s fadein 0.2s forwards;
	opacity:0;
}

#showSection img {
	height:400px;
	width:618px;
	overflow:hidden;
	float:left;
	margin-right:15px;
	border-radius: 3px;
}

#showSection + div {
	height:400px;
	width:50%;
	margin-left:15px;
	text-align:justify;
}


/*BOOTSTRAP MODIFICATIONS*/
.navbar {
	width:65%;
	margin:0 auto;
	background:white;
}

/*REGISTER PAGE*/
#registerSection {
	width:260px;
	height:120vh;
	margin:0 auto;
	padding-top: 100px;
	text-align:center;
	animation: 0.4s fadeinUp 0.2s forwards;
	opacity:0;
}