/*COMMON*/
* {
	font-family: 'Open Sans', sans-serif;
}

.createEditSection {
	width:65%;
	margin:100px auto;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	cursor:default;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-animation: 0.4s fadeinUp 0.2s forwards;
	        animation: 0.4s fadeinUp 0.2s forwards;
	opacity:0;
}

.form {
	width:700px;
}

#textArea {
	height:400px;
	overflow:hidden;
	max-height:400px;
}

#navCurrentUser {
	padding-right:10px;
}

#footer {
	height:33px;
	width:100%;
	background:#312c32;
	position: fixed;
	color:#dbe9d8;
	bottom: 0;
	text-align:center;
	line-height: 33px;
	font-size: 13px;
}

#logout {
	color:#300032 !important;
	transition:0.2s;
}

#logout:hover {
	transform:scale(0.96);
}

/*BOOTSTRAP MODIFICATIONS*/
.navbar {
	width:65%;
	margin:0 auto;
	background:white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.navbar-toggler {
	border:none !important;
}

.navbar-toggler:focus {
	outline:none;
}

/*INDEX PAGE*/
#indexSection {
	width:100%;
	height:100vh;
	cursor:default;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
	background: url(https://images.unsplash.com/photo-1497541271502-639c540968b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44c1b79e631f83187b54e87226eb1cc7&auto=format&fit=crop&w=1350&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter:grayscale(50%);
	        filter:grayscale(50%);
}

#indexHeader {
	opacity:0;
	-webkit-animation: 0.6s fadeinUp 0.2s forwards;
	        animation: 0.6s fadeinUp 0.2s forwards;
	text-align: center;
	margin-top:85px;
}

#indexHeader h2 {
	letter-spacing: 2px;
}

#indexSection button {
	opacity:0;
	-webkit-animation: 0.9s fadeinUp 0.4s forwards;
	        animation: 0.9s fadeinUp 0.4s forwards;
}

@-webkit-keyframes fadeinUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		        transform: translateY(20px);
	}
	100%{
		opacity:1;
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}
}

@keyframes fadeinUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		        transform: translateY(20px);
	}
	100%{
		opacity:1;
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100%{
		opacity:1;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100%{
		opacity:1;
	}
}

#indexLoginSection {
	width:260px;
	height:100vh;
	margin:0 auto;
	padding-top: 160px;
	text-align:center;
	cursor:default;
}

#indexLoginSection h1 {
	margin-bottom:20px;
	letter-spacing: -1px;
}

.myButton {
	border:1px solid #D6B8B8;
	background-color:transparent;
	outline:none;
	font-size:30px;
	cursor:pointer;
	border-top-left-radius: 10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius: 3px;
	border-top-right-radius:3px; 
	-webkit-transition-duration: 0.4s; 
	     -o-transition-duration: 0.4s; 
	        transition-duration: 0.4s;
	line-height: 33px;
	color:#D6B8B8;
} 

.myButton:hover {
	border-top-left-radius: 3px;
	border-bottom-right-radius:3px; 
	border-bottom-left-radius: 10px;
	border-top-right-radius:10px;
	border:1px solid #B5104B;
	color:#B5104B;
}

.myButton:focus {
	outline:none;
}

/*MAIN PAGE/GRID OF BLOGS*/
#blogsSection {
	width:1550px;
	margin:60px auto;
	cursor:default;
}

#blogCard {
	opacity:1;
	margin:20px 10px;
	cursor:pointer;
	text-align:center;
	position:relative;
	transition:0.3s;
}

#blogCard:hover {
	transform: translateY(-3px);
}

#blogCard a {
	text-decoration:none;
}

/*SHOW PAGE*/
#showSection {
	width:900px;
	margin:120px auto;
	-webkit-animation: 0.4s fadein forwards;
	        animation: 0.4s fadein forwards;
	opacity:0;
	cursor:default;
}

#showSectionImage {
	max-width:100%;
	height:auto;
	overflow:hidden;
	border-radius:3px;
}

#showSectionText {
	padding:16px;
	border:1px solid #b3c2bf;
	border-top:none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#editLink {
	float:left;
	margin-right:10px;
}

/*REGISTER PAGE*/
#registerSection {
	width:260px;
	height:120vh;
	margin:0 auto;
	padding-top: 100px;
	text-align:center;
	-webkit-animation: 0.4s fadeinUp 0.2s forwards;
	        animation: 0.4s fadeinUp 0.2s forwards;
	opacity:0;
	cursor:default;
}

/*SCALABILITY*/
@media screen and (max-width: 1660px) {
	#blogsSection {
		width:100%;
	}
}

@media screen and (max-width: 991px) {
	.navbar {
		background:#f6f1ed;
		width:100%;	
		border-bottom: 2px solid #f6f1ed;
		border-radius:0px;
	}
	#showSection {
		width:700px;
	}
}

@media screen and (max-width: 770px) {
	.form {
		width:500px;
	}
	#textArea {
		width:500px;
	}
	#showSection {
		width:500px;
	}
}

@media screen and (max-width: 550px) {
	.form {
		width:300px;
	}
	#textArea {
		width:300px;
	}
	#showSection {
		width:300px;
	}
}

@media screen and (max-width:365px) {
	#blogsSection {
		margin-left:18px;
	}
	#showSectionText h3 {
		font-size:1.4rem;
	}
}